<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
		  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/fabricantes/novo}">Cadastro Fabricante<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/fabricantes}">Lista Fabricante<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/modelos/novo}">Cadastro Modelo<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/modelos}">Lista Modelo<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/carros/novo}">Cadastro Carro<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/carros}">Lista Carro<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/motoristas/novo}">Cadastro Motorista<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/motoristas}">Lista Motorista<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/locacoes/novo}">Cadastro Locações<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/locacoes}">Lista Locações<span class="sr-only">(página atual)</span></a>
		      </li>
		      
		    </ul>
		  </div>
		</nav>

</html>