<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">
	
<head>
<meta charset="UTF-8">
<title>Lista de Carros</title>
</head>
<body>

	<section layout:fragment="conteudo">
		
		<h3 class="text-center">Lista de Carros</h3>
			
		<div class="container">
			
			<table border="1" class="table table-striped">
				<thead>
					<tr>
						<th>Código</th>
						<th>Placa</th>
						<th>Chassi</th>
						<th>Valor</th>
						<th>Modelo</th>
						<th>Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="carro : ${carros}">
						<td th:text="${carro.id}"></td>
						<td th:text="${carro.placa}"></td>
						<td th:text="${carro.chassi}"></td>
						<td th:text="${{carro.valorDaDiaria}}"></td>
						<td th:text="${carro.modelo.descricao}"></td>
						<td>
							<a class="btn btn-success" th:href="@{/carros/editar/{id}(id=${carro.id})}">Editar</a>
							<a class="btn btn-danger" onclick="return confirm('Confirma a exclusão?');" th:href="@{/carros/excluir/{id}(id=${carro.id})}">Excluir</a>
						</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(carros)}" >Nenhum carro cadastrado!</td>
					</tr>
					
				</tbody>
			</table>
		</div>

</body>
</html>