<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">
	
<head>
<meta charset="UTF-8">
<title>Lista de Fabricantes</title>
</head>
<body>

	<section layout:fragment="conteudo">
		
		<h3 class="text-center">Lista de Fabricantes</h3>	
	
		<div class="container">
		
			<table border="1" class="table table-striped">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Ação</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="fabricante : ${fabricantes}">
						<td th:text="${fabricante.id}"></td>
						<td th:text="${fabricante.nome}"></td>
						<td th:text="${fabricante.descricao}"></td>
						<td>
							<a class="btn btn-success" th:href="@{/fabricantes/editar/{id}(id=${fabricante.id})}">Editar</a>
							<a class="btn btn-danger" onclick="return confirm('Confirma a exclusão?');" th:href="@{/fabricantes/excluir/{id}(id=${fabricante.id})}">Exlcluir</a>
						</td>
					</tr>
					
					<tr>
						<td colspan="4" th:if="${#lists.isEmpty(series)}" >Nenhum Fabricante cadastrado</td>
					</tr>
				</tbody>	
			</table>
		</div>
	</section>
</body>
</html>