<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">
	
<head>
<meta charset="UTF-8">
<title>Lista de Modelos</title>
</head>
<body>

	<section layout:fragment="conteudo">
		
		<h3 class="text-center">Lista de Modelos</h3>
			
		<div class="container">
		
			<table border="1" class="table table-striped">
			
				<thead>
					<tr>
						<td>Código</td>
						<td>Descrição</td>
						<td>Fabricante</td>
						<td>Categoria</td>
						<td>Ações</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="modelo : ${modelos}">
						<td th:text="${modelo.id}"></td>
						<td th:text="${modelo.descricao}"></td>
						<td th:text="${modelo.fabricante.nome}"></td>
						<td th:text="${modelo.categoria}"></td>
						<td>
							<a class="btn btn-success" th:href="@{/modelos/editar/{id}(id=${modelo.id})}">Editar</a>
							<a class="btn btn-danger" onclick="return confirm('Confirma a exclusão?')" th:href="@{/modelos/excluir/{id}(id=${modelo.id})}">Excluir</a>
						</td>
					</tr>
					
					<tr>
						<td colspan="8" th:if="${#lists.isEmpty(modelos)}" >Nenhum modelo cadastrado!</td>
					</tr>
				</tbody>
			</table>
		</div>

</body>
</html>
		