<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">
<head>
<meta charset="UTF-8">
<title>Cadastro Modelo</title>
</head>
<body>

	<section layout:fragment="conteudo">
		
	<h3 class="text-center">Cadastro de Modelo</h3>	
	
	<form action="/modelos" method="POST" th:object="${modelo}">
		
		<!-- Erros -->
		<div th:replace="mensagemErro">	</div>	
		
		<!-- Mensagem geral -->
		<div th:replace="mensagemGeral"></div>			
				
		<div class="container shadow-lg p-3 mb-5 bg-light rounded"> 
	
			<input type="hidden" th:field="*{id}" />
			
			<div class="form-group form-control-sm">
				<label for="descricao">Descrição</label>
				<input class="form-control" id="descricao" th:field="*{descricao}" />
			</div>
			
			<div class="form-group form-control-sm">
				<label for="fabricante">Fabricante</label>
				<select class="form-control" id="fabricante" th:field="*{fabricante}">
					<option value="">SELECIONE</option>
					<option th:each="fabricante : ${todosFabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.id}"></option>		
				</select>
			</div>
			
			<div class="form-group form-control-sm">
				<label for="categoria">Categoria</label>
				<select class="form-control" id="categoria" th:field="*{categoria}">
					<option value="">SELECIONE</option>
					<option th:each="categoria : ${todasCategorias}" th:text="${categoria.descricao}" th:value="${categoria}"></option>
				</select>
			</div>
			
			<button class="btn btn-primary" type="submit">Salvar</button>	
		</div>

	</form>
</body>
</html>

		