<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Motorista</title>
</head>
<body>

	<a th:href="@{/fabricantes/novo}">Cadastro Fabricante</a>
    /
	<a th:href="@{/fabricantes}">Lista Fabricantes</a>
	/
	<a th:href="@{/modelos/novo}">Cadastro Modelo</a>
	/
	<a th:href="@{/modelos}">Lista modelos</a>
	/
	<a th:href="@{/carros/novo}">Cadastro Carro</a>
	/
	<a th:href="@{/carros}">Lista Carros</a>
	/
	<a th:href="@{/motoristas}">Lista Motoristas</a>
	/
	<a th:href="@{/locacoes/novo}">Cadastro Locações</a>
	/
	<a th:href="@{/locacoes}">Lista Locações</a>
	<br/>		

	<h3>Cadastro de Motoristas</h3>
	
	<form action="/motoristas" method="POST" th:object="${motorista}">
		
		<!-- Erros -->
		<div th:if="${#fields.hasAnyErrors()}">
			<div th:each="error : ${#fields.detailedErrors()}"> 
				<span th:text="${error.message}"></span>
			</div>
		</div>
		
		<!-- Mensagem geral -->
		<div th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>		
		</div>
		
		<input type="hidden" th:field="*{id}" />
		
		<label for="nome">Nome</label>
		<input id="nome" th:field="*{nome}">
		<br/>
		
		<label for="cpf">CPF</label>
		<input id="cpf" th:field="*{cpf}">
		<br/>
		
		<label for="cnh">CNH</label>
		<input id="cnh" th:field="*{cnh}">
		<br/>
		
		<label for="sexo">Sexo</label>
		<select id="sexo" th:field="*{sexo}">
			<option value="">SELECIONE</option>
			<option th:each="sexo : ${todosSexos}" th:text="${sexo.descricao}" th:value="${sexo}"></option>
		</select>
		<br/>
		
		<button type="submit">Salvar</button>
	</form>

</body>
</html>
