<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">
	
<head>
<meta charset="UTF-8">
<title>Lista de Motorista</title>
</head>
<body>

	<section layout:fragment="conteudo">
		
		<h3 class="text-center">Lista de Motoristas</h3>
			
		<div class="container">
			
			<table border="1" class="table table-striped">
			
				<thead>
					<tr>
						<td>Código</td>
						<td>Nome</td>
						<td>CPF</td>
						<td>CNH</td>
						<td>Sexo</td>
						<td>Ações</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="motorista : ${motoristas}">
						<td th:text="${motorista.id}"></td>
						<td th:text="${motorista.nome}"></td>
						<td th:text="${motorista.cpf}"></td>
						<td th:text="${motorista.cnh}"></td>
						<td th:text="${motorista.sexo}"></td>
						<td>
							<a class="btn btn-success" th:href="@{/motoristas/editar/{id}(id=${motorista.id})}">Editar</a>
							<a class="btn btn-danger" onclick="return confirm('Confirma a exclusão?')" th:href="@{/motoristas/excluir/{id}(id=${motorista.id})}">Excluir</a>
						</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(motoristas)}" >Nenhum motorista cadastrado!</td>
					</tr>
				</tbody>
			</table>
		</div>

</body>
</html>